<mat-list>
  <mat-list-item>
    <p matListItemTitle>Nome</p>
    <p matListItemLine>{{ bar.first_name }}</p>
    <div matListItemMeta>
      <button mat-icon-button>
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </mat-list-item>

  <mat-list-item>
    <p matListItemTitle>Sobrenome</p>
    <p matListItemLine>{{ bar.last_name }}</p>
  </mat-list-item>

  <mat-list-item>
    <p matListItemTitle>Email</p>
    <p matListItemLine>{{ bar.email }}</p>
  </mat-list-item>

  <mat-list-item>
    <p matListItemTitle>Idade</p>
    <p matListItemLine>{{ bar.age }}</p>
  </mat-list-item>
</mat-list>
