<mat-toolbar [color]="'primary'">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="full-screen">
  <mat-sidenav #sidenav appSidenavAutoMode>
    <mat-nav-list>
      <mat-list-item routerLink="bar">Bar</mat-list-item>
      <mat-list-item routerLink="foo">Foo</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="fill-space">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
