<mat-drawer-container>
  <mat-drawer #drawer appDrawerNavigation>
    <router-outlet
      [name]="'drawer'"
      (activate)="drawer.open()"
      (deactivate)="drawer.close()"
    ></router-outlet>
  </mat-drawer>

  <mat-drawer-content *ngIf="store.viewModel$ | async as vm">
    <app-bar-detail-toolbar [bar]="vm.data" />

    <div class="container">
      <ng-container *ngIf="vm.loading">
        <app-top-progress-bar></app-top-progress-bar>
        <app-skeleton-card></app-skeleton-card>
      </ng-container>

      <ng-container *ngIf="vm.error">
        <app-http-error [error]="vm.error"></app-http-error>
      </ng-container>

      <ng-container *ngIf="vm.data">
        <app-bar-detail-card [bar]="vm.data"></app-bar-detail-card>
      </ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
