:host,
.mat-drawer-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: block;
  padding: 24px;
}

app-skeleton-card,
app-bar-detail-card,
app-baz-card {
  max-width: 800px;
  margin-right: auto;
}

app-baz-card {
  margin-top: 24px;
}
