<mat-drawer-container>
  <mat-drawer #drawer appDrawerNavigation>
    <router-outlet
      [name]="'drawer'"
      (activate)="drawer.open()"
      (deactivate)="drawer.close()"
    ></router-outlet>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button [routerLink]="['..']">
        <mat-icon> arrow_back </mat-icon>
      </button>

      <h1>Bar</h1>
    </mat-toolbar>

    <app-store-wrapper [store]="store">
      <ng-container *ngIf="store.data$ | async as data">
        <app-bar-detail-card [bar]="data"></app-bar-detail-card>
      </ng-container>
    </app-store-wrapper>
  </mat-drawer-content>
</mat-drawer-container>
